absl-py==0.8.1
aiofiles==0.4.0
aiohttp==3.6.2
alabaster==0.7.12
altair==4.1.0
APScheduler==3.6.3
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==3.1.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
base58==2.0.0
beautifulsoup4==4.9.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
blinker==1.4
bokeh==1.0.4
boto==2.49.0
boto3==1.12.7
botocore==1.15.7
Bottleneck==1.2.1
bz2file==0.98
cachetools==4.0.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
comtypes==1.1.7
ConfigArgParse==1.0
contextlib2==0.5.5
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.4.0
defusedxml==0.5.0
dill==0.3.1.1
distributed==1.26.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.14
dopamine-rl==3.0.1
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
fastcache==1.0.2
fbmessenger==6.0.0
filelock==3.0.10
Flask==1.0.2
future==0.17.1
gast==0.3.3
gevent==1.4.0
gin-config==0.3.0
glob2==0.6
greenlet==0.4.15
grpcio==1.24.1
gunicorn==20.0.4
gym==0.15.4
h11==0.8.1
h2==3.2.0
h5py==2.10.0
heapdict==1.0.0
hpack==3.0.0
html5lib==1.0.1
httpcore==0.3.0
httplib2==0.17.0
httptools==0.1.1
humanfriendly==7.1.1
hyperframe==5.2.0
idna==2.8
imageio==2.5.0
imagesize==1.1.0
imbalanced-learn==0.6.2
imblearn==0.0
importlib-metadata==0.0.0
ipykernel==5.3.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
Js2Py==0.70
jsonpickle==1.3
jsonschema==3.0.1
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.0
kfac==0.2.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
libarchive-c==2.8
llvmlite==0.28.0
locket==0.2.0
lxml==4.3.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mattermostwrapper==2.2
mccabe==0.6.1
mesh-tensorflow==0.1.10
mistune==0.8.4
mpmath==1.1.0
msgpack==0.6.1
multidict==4.6.1
multipledispatch==0.6.0
multitasking==0.0.9
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.4
nltk==3.4
nose==1.3.7
numba==0.43.1
numexpr==2.6.9
numpy==1.16.2
numpydoc==0.8.0
openpyxl==2.6.1
opt-einsum==3.1.0
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pickleshare==0.7.5
pika==1.0.1
Pillow==7.1.2
pipwin==0.5.0
pkginfo==1.5.0.1
pluggy==0.9.0
ply==3.11
prometheus-client==0.6.0
promise==2.3
prompt-toolkit==2.0.9
protobuf==3.12.4
psutil==5.6.1
py==1.8.0
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydeck==0.4.0b1
pydot==1.4.1
pyflakes==2.1.1
pyglet==1.3.2
Pygments==2.3.1
pyjsparser==2.7.1
PyJWT==1.7.1
pykwalify==1.7.0
pylint==2.3.1
pymongo==3.10.1
PyMySQL==0.9.3
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyPDF2==1.26.0
Pyphen==0.9.5
pypng==0.0.20
PyPrind==2.11.2
pyreadline==2.1
pyrsistent==0.14.11
pySmartDL==1.3.3
PySocks==1.6.8
pytest==4.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-engineio==3.11.2
python-socketio==4.4.0
python-telegram-bot==11.1.0
pytz==2019.3
PyWavelets==1.0.2
questionary==1.5.1
redis==3.3.11
requests==2.21.0
requests-async==0.5.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
rocketchat-API==0.6.36
rope==0.12.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
sanic==19.9.0
Sanic-Cors==0.9.9.post1
sanic-jwt==1.4.0
Sanic-Plugins-Framework==0.9.2
scikit-image==0.14.2
scikit-learn==0.22.2.post1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==1.3.2
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
SQLAlchemy==1.3.1
statsmodels==0.9.0
streamlit==0.64.0
sympy==1.3
tables==3.5.1
tabulate==0.8.6
tblib==1.3.2
tensor2tensor==1.14.1
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-cpu==1.15.0
tensorflow-cpu-estimator==1.15.1
tensorflow-datasets==2.1.0
tensorflow-estimator==2.3.0
tensorflow-gan==2.0.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.21.1
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
textblob==0.15.3
textstat==0.6.2
toml==0.10.1
toolz==0.9.0
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
twilio==6.35.5
tzlocal==2.0.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.24.1
validators==0.15.0
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
webexteamssdk==1.2
websocket-client==0.54.0
websockets==8.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.1
xgboost==1.0.2
xlrd==1.2.0
yarl==1.4.2
yfinance==0.1.54

